/* スマホ向け */
@media screen and (max-width:670px) {
    .header-logo {
        font-size:30px;
    }
    .header-menu {
        display:none;
    }
    .hamburger {
        display:block;
    }

    .con1 {
        padding:50px 20px;
    }

    .con1 h1 {
        font-size:30px;
    }

    .con1 h2 {
        font-size:26px;
    }

    .con2 {
        padding-left:20px;
        padding-right:20px;
    }

    .con2 h3 {
        font-size:22px;
    }

    .lesson p {
        font-size:20px;
    }

    .con3 {
        padding:50px 20px;
    }

    .con3 h3 {
        font-size:22px;
        padding-bottom:10px;
        border-bottom:2px solid #dee7ec;
    }
    
    .mailaddress {
        padding-top:20px;
    }
    
    .con3 p{
        padding-bottom:5px;
    }
    
    input,textarea {
        width:50%;
        font-size:16px;
        padding:10px;
        margin-bottom:20px;
    }
}
