/*スマホ向け*/
@media screen and (max-width:670px) {
    .header-logo {
        font-size:26px;
    }
    .header-menu {
        display:none;
    }
    .hamburger {
        display:block;
    }
    .con h1 {
        width:80%;
        font-size:30px;
    }
    .con h2 {
        width:80%;
        font-size:10px;
    }
}

