* {
    box-sizing: border-box;
}

header {
    background-color: #26d0c9;
    color:#fff;
}

.header-logo {
    font-size:36px;
    padding-top:20px;
    padding-left:40px;
    padding-bottom:20px;
    padding-right:40px;
    float:left;
}

.header-menu {
    padding-top:33px;
    padding-bottom:33px;
}

.header-menu a {
    padding-left:20px;
    padding-right:20px;
}
