* {
    box-sizing:border-box;
    }

body {
    font-family: "Hiragino Sans",sans-serif;
}

header {
    height:90px;
    background-color: #26d0c9;
    color:white;
}

.header-logo {
    font-size: 36px;
    padding:20px 20px;
    float:left;
}

.header-menu {
    float:left;
}

.header-menu a {
    padding:33px 20px;
    float:left;
}

.con1 {
    padding:100px 80px 100px 80px;
}

.con1 h1 {
    font-size:140px;
}

.con1 h2 {
    font-size:60px;
}

.conmma {
    color:red;
}

.con2 {
    padding:0px 80px 100px 80px;
}

.con2 h3 {
    font-size:28px;
    padding-bottom:15px;
    border-bottom:2px solid #dee7ec;
}

.lesson {
    float:left;
    padding-top:50px;
    padding-right:40px;
}

.lesson p {
    font-size:24px;
}

.clear {
    clear:left;
}

.con3 {
    padding: 0px 80px 100px 80px;
}

.con3 h3{
    font-size:28px;
    padding-bottom:15px;
    border-bottom:2px solid #dee7ec;
}

.mail {
    padding-top:50px;
}

.con3 p {
    padding-bottom:10px;
}

.contact {
    padding-top:30px;
}

input,textarea {
    width:400px;
    border:1px solid #dee7ec;
    padding:20px;
    font-size:18px;
}

footer {
    height:200px;
    padding:40px;
    background-color:#2f5167;
    color:#fff;
}

.footer-logo {
    font-size:32px;
    float:left;
}

.footer-menu {
    padding-bottom:20px;
    float:right;
}

