* {
    box-sizing:border-box;
    }
    
    body {
        font-family: "Hiragino Sans",sans-serif;
        margin:0;
    }

header {
    background-color:#26d0c9;
    color:white;
    height:90px;
}

.header-logo {
    font-size:36px;
    line-height:90px;
    padding-left:40px;
    padding-right:40px;
    float:left
}

.header-menu {
    float:left;
}

.header-menu a {
    line-height:90px;
    padding-left:20px;
    padding-right:20px;
    float:left;
}

.hamburger {
    line-height:90px;
    float:right;
    padding-right:40px;
    display:none;
}

.con1 {
    padding:100px 80px;
}

.con1 h1 {
    font-size:140px;
}

.conmma {
    color:red;
}

.con1 h2 {
    font-size:60px;
}

.con2 {
    padding-left:80px;
    padding-right:80px;
}

.con2 h3 {
    font-size:28px;
    padding-bottom:15px;
    border-bottom:2px solid #dee7ec;
}

.lesson {
    padding-top:50px;
    float:left;
    padding-right:40px;
}

.lesson p {
    font-size:24px;
    padding-bottom:30px;
}

.clear {
    clear:left;
}

.con3 {
    padding:100px 80px;
}

.con3 h3 {
    font-size:28px;
    padding-bottom:15px;
    border-bottom:2px solid #dee7ec;
}

.mailaddress {
    padding-top:50px;
}

.con3 p{
    padding-bottom:10px;
}

input,textarea {
    border:1px solid #dee7ec;
    width:400px;
    font-size:18px;
    padding:20px;
    margin-bottom:30px;
}
